@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/joelhiltonheadshot.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="Form">Fill Out This Form to Enter a Movie</a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieCollection">View the Movie Collection</a>
</div>
