@*
*@
@{
    ViewData["Title"] = "Film Collection";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>

    <a href='https://www.qwcomedy.com/' target="blank">Quick Wits Comedy</a>
    <a href='https://baconsale.com/' target="blank">Baconsale</a>
    <br /> <br />
    <a href="https://baconsale.com/" target="blank">
        <img src="~/baconsalekate.jpg">
    </a>
</div>


